@model KYPlayer.Models.Player

<div class="row">
    <div class="col-md-4">
        <img src="@Model.PhotoURL" class="img-fluid rounded"/>
    </div>
    <div class="col-md-8">
        <h2>#@Model.JerseyNumber @Model.PlayerName</h2>
        <p>Position: @Model.Position | Age: @Model.Age</p>
        <p>PSR: <strong>@Model.CurrentPSR.ToString("0.0")</strong>/5.0  (@Model.TotalRatingsCount ratings)</p>

        @if (Model.Skills != null)
        {
            <h4>Skills</h4>
            <div class="mb-1">Shooting
                <div class="progress">
                    <div class="progress-bar" style='@($"width:{Model.Skills.Shooting}%;")'>@Model.Skills.Shooting</div>
                </div>
            </div>
            <div class="mb-1">Passing
                <div class="progress">
                    <div class="progress-bar" style='@($"width:{Model.Skills.Passing}%;")'>@Model.Skills.Passing</div>
                </div>
            </div>
            <div class="mb-1">
                Dribbling
                <div class="progress">
                    <div class="progress-bar" style='@($"width:{Model.Skills.Dribbling}%;")'>@Model.Skills.Dribbling</div>
                </div>
            </div>
            <div class="mb-1">
                Vision
                <div class="progress">
                    <div class="progress-bar" style='@($"width:{Model.Skills.Vision}%;")'>@Model.Skills.Vision</div>
                </div>
            </div>
            <div class="mb-1">
                Defense
                <div class="progress">
                    <div class="progress-bar" style='@($"width:{Model.Skills.Defense}%;")'>@Model.Skills.Defense</div>
                </div>
            </div>
            <div class="mb-1">
                Finishing
                <div class="progress">
                    <div class="progress-bar" style='@($"width:{Model.Skills.Finishing}%;")'>@Model.Skills.Finishing</div>
                </div>
            </div>
                
        }
    </div>
</div>
