@model IEnumerable<KYPlayer.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<!--Search/Filter Bar-->
<form method="get" class="row g-3 mb-4">
    <div>
        <input type="text" name="searchQuery" class="form-control" 
        placeholder="Search by name or jersey number"
        value="@ViewData["SearchQuery"]"/>
    </div>
    <div class="col-md-4">
        <select name="positionFilter" class="form-select">
            <option value="">All Positions</option>
            <option>Goalkeeper</option>
            <option>Defender</option>
            <option>Midfielder</option>
            <option>Forward</option>
        </select>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Search</button>
    </div>
</form>

<!--Player Cards Grid-->
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var player in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="@player.PhotoURL" class="card-img-top" style="height:200px;object-fit:cover "/>
                <div class="card-body">
                    <h5 class="card-title">#@player.JerseyNumber @player.PlayerName</h5>
                    <p class="card-text text-muted">@player.Position</p>
                    <p class="card-text">
                        <strong>PSR: </strong>
                        <span class="badge bg-success">
                            @player.CurrentPSR.ToString("0.0") / 5.0
                        </span>
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-route-id="@player.PlayerId" 
                    class="btn btn-outline-primary btn-sm">View Card</a>
                </div>
            </div>
        </div>    
    }
</div>


